<!-- Aside Menu -->
<aside class="left-panel">

    <!-- Navbar -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li>
                <a [routerLink]="['/danh-sach-san-pham']"><i class="ion-home"></i> <span class="nav-label">Quản lý sản phẩm</span></a>
            </li>
            <li>
                <a [routerLink]="['/danh-sach-tin-tuc']"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Quản lý tin tức</span></a>
            </li>
            <li>
                <a [routerLink]="['/danh-sach-slides']"><i class="fa fa-sliders"></i> <span class="nav-label">Quản lý slide</span></a>
            </li>
        </ul>
    </nav>
    <!-- End Navbar -->

</aside>
<!-- End Aside -->