<section class="content">
    <div class="wraper container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>STT</th>
                                <th>Tiêu đề</th>
                                <th>Miêu tả</th>
                                <th>Nội dung</th>
                                <th>Hành động</th>
                            </tr>
                            <tr *ngIf="!slides || (slides && slides.length === 0)">
                                <td colspan="5" class="text-center">
                                    Không có dữ liệu
                                </td>
                            </tr>
                            <tr *ngFor="let data of slides;let idx = index">
                                <td>{{idx+1}}</td>
                                <td>{{data.title}}</td>
                                <td>
                                    {{data.description}}
                                </td>
                                <td>{{data.content}}</td>
                                <td>
                                    <a type="button" class="btn btn-block btn-info" [routerLink]="['/slide', data.idslide]">Chi tiết</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>